h1{
    font-size: 2.3em;
}
h2{
    color: grey;
}

body{
    padding: 0, 10% 10% 10%;
    border: 1px solid black;
}

.navbar{
    background: black;
    height: 2.6em;
    
    text-align: right;


    ul{
        text-decoration: none;

        li{
            display: inline-block;
            color:white;
            font-size: 1.5em;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0.3em;
            
        }
    }
}

section{
   
    height: 300px;
    

.sidebar{
    display: inline-block;
    width: 25%;
    clear: both;
    

    a{
        display: block;
        text-decoration: none;
        font-size: 1.5em;
        margin: 0.2em;
        
    }
}

.content{
    float: right;
    text-align: justify;
    width: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    
    h1{
        text-align: right;
    }

}

}

